<body >
    

    <header>
       
        
        <nav *ngIf="login=='1'" class="navbar bg-dark ">
            <div class="container-fluid " >
                
               
                <div class="navbar-content d-flex justify-content-start">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/home" >
                               Nuevo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1"  routerLink="/cocina" >
                                Turnos
                            </a>
                        </li>

                       <!--  <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/caja" >
                                Caja
                            </a>
                        </li> -->

                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/ventas" >
                                Venta
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/user" >
                                Usuario
                            </a>
                        </li>

                      <!--   <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/horas" >
                                Horas
                            </a>
                        </li> -->

                        <li class="nav-item">
                            <a href="" (click)="salir()" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1">
                                Salir
                            </a>
                        </li>



    
                       
                    </ul>
                </div>

                <div class="text-light justify-content-end">
                    <div>
                     <img src="../../../../assets/Imagenes/Logo500white.png" width="100px" alt="">
                    </div>
                 </div>
            </div>
        </nav>

        

        <nav  *ngIf="login=='0'" class="navbar bg-dark ">
            <div class="container-fluid" >
                
               
                <div class="navbar-content d-flex justify-content-start">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/inicio" >
                               Inicio
                            </a>
                        </li>  
                          
                    </ul>
                </div>
                
                <div class="text-light justify-content-end">
                   <div>
                    <img src="../../../../assets/Imagenes/Logo500white.png" width="100px" alt="">
                   </div>
                </div>

                
            </div>
        </nav>

        <nav *ngIf="login=='2'" class="navbar bg-dark ">
            <div class="container-fluid " >
                
               
                <div class="navbar-content d-flex justify-content-start">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/home" >
                               Nuevo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1"  routerLink="/cocina" >
                                Turnos
                            </a>
                        </li>

                      <!--   <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/caja" >
                                Caja
                            </a>
                        </li> -->

                       <!--  <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1" routerLink="/horas" >
                                Horas
                            </a>
                        </li> -->
                        

                        <li class="nav-item">
                            <a href="" (click)="salir()" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-6 p-2 m-1">
                                Salir
                            </a>
                        </li>



    
                       
                    </ul>
                </div>
                <div class="text-light justify-content-end">
                    <div>
                     <img src="../../../../assets/Imagenes/Logo500white.png" width="100px" alt="">
                    </div>
                 </div>
            </div>
        </nav>
        </header>
</body>