.calendar {
    background-color: #212529;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .calendar h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .calendar .bs-datepicker-container {
    background-color: #343a40;
  }
  
  .calendar .bs-datepicker-body table td span.selected {
    background-color: #6c757d;
    color: #fff;
    border-radius: 50%;
  }
  
  .calendar .bs-datepicker-body table td span.focused {
    box-shadow: none;
  }
  
  .calendar .bs-datepicker-body table td span.text-primary {
    color: #007bff;
  }
  
  .calendar .bs-datepicker-body table td span.text-danger {
    color: #dc3545;
  }
  