.calendar {
    background-color: #212529;
    color: #fff;
    padding: 10px;
   
    border-radius: 5px;
  }
  
  .calendar h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .calendar .month-calendar {
    padding: 10px;
  }
  
  .calendar .month-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .calendar .month-navigation button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .calendar .month {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calendar .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .calendar .weekday {
    text-align: center;
  }
  
  .calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .calendar .day {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calendar .day:hover {
    background-color: #6c757d;
  }
  