<body class="mt-5 "style="background-color: rgb(225, 225, 225); ">
    
    <div class="container-fluid ">
        <div class="row justify-content-center text-center">
            <div class="col-12 mt-4 pb-4">
                <button (click)="home()" class="btn btn-dark" style="width: 250px; height: 50px;">Tomar pedido</button>
            </div>
            <div class="col-12 pb-4">
                <button (click)="cocina()" class="btn btn-primary"  style="width: 250px; height: 50px;">Cocina</button>
            </div>
            <div class="col-12 pb-4">
                <button (click)="caja()" class="btn btn-success"  style="width: 250px; height: 50px;">Caja</button>
            </div>
        </div>
    </div>
</body>