<body class="mt-3" style="background-color: rgb(225, 225, 225);">
    <div class="container-fluid ">
       
          <div class="row justify-content-center ">
            <div class="col-6 col-sm-4 col-md-2">
            <form  (ngSumbit)="time()" [formGroup]="registerForm" id="form"  class=" shadow-md rounded px-8 mt-4 container-fluid "> 
            <div class="pb-3" style="background-color: rgb(225, 225, 225);">
                <label class="block text-gray-700 text-sm font-bold b-2 d-flex fw-bold " for="hora">
                
                </label>
                <input 
                class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                formControlName="fecha"  id="fecha" type="date" placeholder="Fecha" >
                
                <div class="text-center pt-2" >
                    <button class="btn btn-primary mx-2" _target (click)="time()">Buscar</button>
                    
                </div>
               
            </div>

            
        </form>
    </div>
    </div>
    <div class="row justify-content-center">
        <h3 class="text-dark">{{dia}}</h3>
            <div class="col-12" >              
              
                <table class="table table-success table-striped" >
                    <thead class="table-dark">
                      <tr>
                       
                        <th scope="col">Nombre</th>
                         <th scope="col">Hs</th>
                        <th scope="col">Obs</th>
                        <th scope="col">Pre</th>
                        <th scope="col">Seña</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pedi of pedi, let id = index">
                        
                        <td>{{pedi.cliente}}</td>
                        <td><br>{{pedi.hora}}<br></td>  
                        <td>{{pedi.observacion}}</td> 
                        <td>${{pedi.precio}}</td> 
                        <td>${{pedi.sena}}</td>  
                        
                                                                 
                      </tr>
                      
                    </tbody>
                  </table>
                
                             
            </div>
        </div>
    </div>
</body>