<body class="bg btn-primary text-light pt-5 mt-1" style="background-color: rgb(225, 225, 225);">
 
    <div class="container">
   
  <div class="row container-fluid">
   

    <div class="col-4 text-center text-dark">
        <h4>Tabla</h4>
    </div>
    
    <div class="row pt-3 pb-3 text-center">
        <div *ngFor="let nombres of nombres" class="col-3 pb-3"  data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <button class="btn btn-warning btn-lg bb">{{nombres}}</button>
        </div>
    </div>
      
    
  </div>
</div>
    

  <!-- PEDIDO -->

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center text-dark">
          <h1 class="modal-title fs-5 " id="exampleModalLabel1">Lunes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
          
                

                <div class="text-center" >
                  <p class="fs-4">
                  <b>Juan</b>
                  </p>
               </div>   
                   
            <div class="row text-center">
                <div class="col-6">
                    <p>Entrada</p>
                    <input
                    class="form-control text-center inicio appearance-none cuadro border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    style="background-color: rgb(225, 225, 225);"  formControlName="id"  id="id" type="time" placeholder="Ingrese hora" >

                </div>
                <div class="col-6">
                    <p>Salida</p>
                    <input
                    class="form-control text-center  inicio appearance-none cuadro border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    style="background-color: rgb(225, 225, 225);"  formControlName="id"  id="id" type="time" placeholder="Ingrese hora" >
                </div>
            </div>


            <div class="text-center m-1 pt-2" >
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>                        
          </div>
            
             
        </div>
        <div class="modal-footer justify-content-center">
       
         
        </div>
      </div>
    </div>
  </div>


  </body>


  