<body class="btn-primary text-light pt-5 mt-1" style="background-color: rgb(225, 225, 225); font-family: Helvetica;">

    <div class="container-fluid ">

    <div class="row m-1" style="background-color: rgb(225, 225, 225);" >
        <div class="col-md-2 col-12"></div>
        <div class="col-md-4  mt-md-0 mx-md-3 inicio bg-ligth mb-3 p-4 text-center" >
            <div *ngIf="change==true">

              <p class="fs-4 fw-bold">CLAVE ID</p>
                <p class="fs-3 p-1 inicio text-primary">{{clave}}</p>
            </div>

            <form  (ngSumbit)="onChange()" *ngIf="change==false" style="color: rgb(65, 65, 65);" [formGroup]="registerForm" id="form"  class=" shadow-md rounded px-8 mt-4 container-fluid ">
                <p class="fs-5 fw-bold text-center">GENERAR CLAVE</p>
                <div class="" style="background-color: rgb(225, 225, 225);">
                <label class="block text-gray-700 text-sm font-bold b-2 d-flex fw-bold " for="claves">
                
                </label>
                <input
                    class="form-control  inicio appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    style="background-color: rgb(225, 225, 225);"  formControlName="claves"  id="claves" type="text" placeholder="Ingrese su clave" >
            </div>    
        
            
        
            <div class="text-center pt-4" >
                <button class="btn btn-inicio mx-2"  (click)="onChange()">Generar</button>
                
            </div>
        
            </form>

            <form  (ngSumbit)="onChange()" *ngIf="change==true" style="color: rgb(65, 65, 65);" [formGroup]="registerForm" id="form"  class=" shadow-md rounded px-8 mt-4 container-fluid ">
              <p class="fs- fw-bold text-center">ACTUALIZAR CLAVE</p>
              <div class="" style="background-color: rgb(225, 225, 225);">
              <label class="block text-gray-700 text-sm font-bold b-2 d-flex fw-bold " for="claves">
              
              </label>
              <input
                  class="form-control  inicio appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  style="background-color: rgb(225, 225, 225);"  formControlName="claves"  id="claves" type="text" placeholder="Ingrese nueva clave" >
          </div>    
      
          
      
          <div class="text-center pt-4" >
              <button class="btn btn-inicio mx-2"  (click)="onChange()">Actualizar</button>
              
          </div>
      
          </form>

          </div>
          
        <div class="col-md-4 mt-md-0 mx-md-3 mt-4 inicio-int col-12 p-2 text-center mb-3" style="color: rgb(65, 65, 65);;">
        
          <p class="fs-4 pt-3 fw-bold">USUARIO</p>
          <p class="fs-4">{{name}}</p>
          <p class="fs-4">{{email}}</p>
          <img src="{{picture}}" width="80" alt="" class="shadow" style="border-radius: 40px;">
        </div>
        <div class="col-md-2 col-12"></div>
        


    </div>
    </div>
  </body>
  