<body class="btn-primary text-light pt-5 mt-1" style="background-color: rgb(225, 225, 225); font-family: Helvetica;">

    <div class="container-fluid ">

    <!-- <div class="row m-1" style="background-color: rgb(225, 225, 225);" >
        <div class="col-md-2 col-12"></div>
        <div class="col-md-4  mt-md-0 mx-md-3 inicio bg-ligth mb-3 p-4 text-center" >
            <div *ngIf="change==true">

              <p class="fs-4 fw-bold">CLAVE ID</p>
                <p class="fs-3 p-1 inicio text-primary">{{clave}}</p>
            </div>        

          </div>
          
        <div class="col-md-4 mt-md-0 mx-md-3 mt-4 inicio-int col-12 p-2 text-center mb-3" style="color: rgb(65, 65, 65);;">
        
          <p class="fs-4 pt-3 fw-bold">USUARIO</p>
          <img src="{{picture}}" width="60" alt="" class="shadow mb-3" style="border-radius: 40px;">
          <p class="fs-4">{{name}}</p>
          <p class="fs-5">{{email}}</p>
        </div>
        <div class="col-md-2 col-12"></div>
        


    </div> -->


    <div class="row m-1 justify-content-center" style="background-color: rgb(225, 225, 225);" >
      
      <div class="col-md-8  mt-md-0 mx-md-3 inicio bg-ligth mb-3 p-4 text-center" >
          <div>

            <p class="fs-4 pt-3 fw-bold">USUARIO</p>
            <img src="{{picture}}" width="60" alt="" class="shadow mb-3" style="border-radius: 40px;">
            <p class="fs-4">{{name}}</p>
            <p class="fs-5">{{email}}</p>

            <p class="fs-4 fw-bold">CLAVE ACCESO</p>
              <p class="fs-4 p-1 inicio text-primary">{{clave}}</p>
              <div class="text-center pt-4" >
                <button class="btn btn-inicio mx-2"  (click)="copiar()">Copiar</button>
                
            </div>
          </div>        

        </div>
        
      
     
      


  </div>

    </div>
  </body>
  